@import "tailwindcss";

h1, button {
    font-family: var(--font-bellefair);
}

p {
    font-family: var(--font-barlow);
}

h2 {
    font-family: var(--font-barlow-condensed), sans-serif !important;
}